@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 34% 89%;
    --foreground: 210 30% 4%;
    --card: 0 0% 100%;
    --muted-foreground: 210 20% 36%;
    --primary: 210 49% 50%;
    --secondary: 0 0% 98%;
    --accent: 212 49% 50%;
    --border: 211 29% 83%;
    --input-background: 212 25% 10%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 214 33% 4%;
    --foreground: 210 2% 97%;
    --card: 210, 25%, 8%;
    --muted-foreground: 210 20% 69%;
    --primary: 210 49% 50%;
    --secondary: 0 0% 98%;
    --accent: 212 49% 50%;
    --border: 211 34% 18%;
    --input-background: 212 25% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
